{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>Red Imports Store</title>
    <link rel="stylesheet" href="{% static 'catalog/css/style.css' %}?v=5.1">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
<div class="app-container">
    <header class="custom-header">
        <div class="header-content">
            <img src="{% static 'catalog/img/logo_red.svg' %}" class="header-logo-img" alt="logo">
            <span class="header-logo-text">red imports</span>
        </div>
    </header>
    <br>
    <div class="scrollable-content">
        <div class="sticky-search-container">
            <div class="search-bar">
                <input type="text" placeholder="ПОИСК">
                <svg class="search-icon-svg" viewBox="0 0 32 32" fill="none">
                    <circle cx="14" cy="14" r="10" stroke="currentColor" stroke-width="1.2"/>
                    <path d="M27 27L21 21" stroke="currentColor" stroke-width="1.2" stroke-linecap="round"/>
                </svg>
            </div>
        </div>

        <div class="catalog-section">
            <div class="catalog-header-row">
                <a href="{% url 'home' %}" class="back-button">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
                <h1 class="catalog-title">каталог</h1>
            </div>

            <nav class="catalog-list">
                {% for category in categories %}
                    <a href="#" class="catalog-item {% if category.is_sale %}highlight-red{% endif %}">
                        <span>{{ category.name }}</span>
                        <svg class="chevron-icon" viewBox="0 0 24 24" fill="none">
                            <path d="M9 18L15 12L9 6"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"/>
                        </svg>
                    </a>
                {% endfor %}
            </nav>
        </div>
        
        <div class="bottom-spacer"></div>
    </div>
</div>

<div class="bottom-spacer"></div>
        <footer class="bottom-fixed-container">
            <div class="promo-strip">Скидка до -25% по промокоду WINTERMOVV</div>
            <nav class="nav-bar">
                <div class="nav-item"><a href="{% url 'catalog' %}"><img src="{% static 'catalog/img/menu_icon.svg' %}" width="32"></a></div>
                <div class="nav-item"><img src="{% static 'catalog/img/heart_icon.svg' %}" width="32"></div>
                <div class="nav-item logo-box">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'catalog/img/logo_red.svg' %}" width="28">
                        </a>
                    </div>

                <div class="nav-item"><img src="{% static 'catalog/img/profile_icon.svg' %}" width="32"></div>
                <div class="nav-item"><img src="{% static 'catalog/img/cart_icon.svg' %}" width="32"></div>
            </nav>
        </footer>
    </div>
</body>